@model List<Product>

@foreach (var p in Model)
{
	<div class="col-4 productCardByCatId text-center">
		<div class="card m-1 bg-secondary" style="border-radius:10px;">
			<div class="card-body">
				<h5 class="card-title">@p.Name</h5>
			</div>
			@if (p.ImageUrl != null)
			{
				<img src="/@p.ImageUrl" class="card-img-top container" alt="@p.Name" style="height: 250px; object-fit: contain;">
			}
			<p style="margin-top:1rem;">@p.Price.ToString("N0") vnđ</p>
			<div class="card-body">
				<a href="#" class="btn btn-secondary">Chi tiết</a>
				<a class="addtocart btn btn-danger" data-productId="@p.Id" asp-action="AddToCart" asp-controller="Cart"
				   asp-route-productId="@p.Id">Thêm vào giỏ</a>
			</div>
		</div>
	</div>
}