<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - AYPHONES</title>
	@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
	<script type="text/javascript" src="~/js/particle.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg bg-primary mb-3" data-bs-theme="dark">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AYPHONES</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link @IsActive("Home", "Index")" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
						</li>
						<li class="nav-item">
							<a class="pagedProducts nav-link @IsActive("Product", "Index")" href="/Product?Page=1">Quản lý sản phẩm</a>
						</li>
						<li class="nav-item">
							<a class="categories nav-link @IsActive("Category", "Index")" href="/Category">Quản lý thể loại</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="container contents">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted mt-3">
		<hr />

		<input id="productCount" type="hidden" value="@ViewBag.ProductCount" />

		<div class="container mt-3 mb-3">
			&copy; 2025 - AYPHONES - <a asp-area="" asp-controller="Home" asp-action="Privacy">Điều khoản dịch vụ</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	@* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
	@functions {
		public string IsActive(string ctrl, string act = "")
		{
			var routeData = ViewContext.RouteData.Values;
			var currentCtrl = routeData["controller"]?.ToString();
			var currentAct = routeData["action"]?.ToString();

			if (currentCtrl == ctrl && (string.IsNullOrEmpty(act) || currentAct == act))
				return "active";

			return "";
		}
	}
	<script>
		$(document).ready(function () {
			//xu ly phan trang san pham
			$(document).on("click", "a.page-link, a.pagedProducts", function (e) {
				e.preventDefault();
				var url = $(this).attr("href");

				if (url) {
					$(".contents").fadeOut(100, function () {
						$.get(url, function (data) {
							$(".contents").fadeOut(100, function () {
								$(".contents").html(data).fadeIn(100);
							});
						});
					});
				}
			});

			//xu ly ajax the loai
			$(".categories").click(function (e) {
				e.preventDefault();
				var url = $(this).attr("href");

				$.get(url, function (data) {
					$(".contents").fadeOut(100, function () {
						$(".contents").html(data).fadeIn(100);
					})
				})
			});

			//xu ly xoa san pham
			$(".contents").on("click", "button.btnDeleteSP", function () {
				var id = $(this).attr("Id");
				var _this = $(this);
				Swal.fire({
					title: "Xác nhận xóa",
					text: "Bạn có chắc muốn xóa sản phẩm này?",
					icon: "warning",
					showCancelButton: true,
					cancelButtonText: "Hủy",
					confirmButtonColor: "#3085d6",
					cancelButtonColor: "#d33",
					confirmButtonText: "Xóa"
				}).then((result) => {
					if (result.isConfirmed) {
						$.post("/Product/DeleteConfirm", { Id: id }, function (data) {
							if (data) {
								var rowDelete = _this.closest("tr");
								rowDelete.remove();
								$('#thongBao').html("Đã xóa thành công 1 sản phẩm");
							}
							else $('#thongBao').html("Xóa thất bại, vui lòng liên hệ đội ngũ hỗ trợ");;
						});
					}
				});
			});

			//xu ly xoa the loai
			$(document).on("click", "button.btnDeleteTL", function (e) {
				var id = $(this).attr("Id");
				var _this = $(this);
				Swal.fire({
					title: "Xác nhận xóa",
					text: "Bạn có chắc muốn xóa thể loại này?",
					icon: "warning",
					showCancelButton: true,
					cancelButtonText: "Hủy",
					confirmButtonColor: "#3085d6",
					cancelButtonColor: "#d33",
					confirmButtonText: "Xóa"
				}).then((result) => {
					if (result.isConfirmed) {
						$.post("/Category/DeleteConfirm", { Id: id }, function (data) {
							if (data) {
								var rowDelete = _this.closest("tr");
								rowDelete.remove();
								$('#thongBao').html("Đã xóa thành công 1 thể loại");
							}
							else $('#thongBao').html("Đã có sản phẩm thuộc thể loại này, không thể xóa!");;
						});
					}
				});
			});
		});
	</script>
</body>
</html>
