@model Product

<form id="updateProductForm" enctype="multipart/form-data">
	<div class="row">
		<div class="col-md-4">
			@if (!string.IsNullOrEmpty(Model.ImageUrl))
			{
				<img src="/@Model.ImageUrl" class="card-img-top container ImgEdit" style="" id="previewImage" />
			}
		</div>
		<div class="col-md-8">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Cập nhật sản phẩm</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
			</div>

			<div class="modal-body">
				<input name="Id" type="hidden" value="@Model.Id" />
				<div class="mb-3">
					<label id="Name" for="Name" class="form-label">Tên sản phẩm</label>
					<input type="text" name="Name" class="form-control" value="@Model.Name" />
					<span id="errName" class="text-danger small"></span>
				</div>
				<div class="mb-3">
					<label for="Description" class="form-label">Mô tả</label>
					<textarea name="Description" class="form-control">@Model.Description</textarea>
				</div>
				<div class="mb-3">
					<label for="Price" class="form-label">Giá</label>
					<input type="number" name="Price" class="form-control" value="@Model.Price" />
					<span id="errPrice" class="text-danger small"></span>
				</div>
				<div class="mb-3">
					<label for="CategoryId" class="form-label">Loại</label>
					<select asp-for="CategoryId" asp-items="@ViewBag.CategoriesEdit" class="form-control">
					</select>
				</div>
				<div class="mb-3">
					<label for="ImgFile" class="form-label">Ảnh minh họa</label>
					<input type="file" name="ImgFile" class="form-control" />
				</div>

				<p id="thongBaoUpdate" style="font-size: large; margin-top:10px; margin-bottom:0;color:red"></p>
			</div>


			<div class="modal-footer"> 
				<button type="submit" id="btnUpdateSP" class="btn btn-secondary" data-bs-dismiss="modal">Cập nhật</button>
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Thoát</button>
			</div>
		</div>
	</div>
</form>

