@model List<Product>;

<partial name="_Notification" />

<div class="row mb-4">
	<div class="col-md-6">
		<h2>DANH MỤC SẢN PHẨM</h2>
	</div>
	<div class="col-md-6 text-right">
		<button id="btnThemSP" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addProductModal">
			<i class="bi bi-plus-circle-fill"></i> Thêm mới
		</button>
	</div>
</div>

<div class="productPanel">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Tên</th>
				<th>Giá (VNĐ)</th>
				<th>Loại</th>
				<th>Ảnh</th>
				<th>Tùy chọn</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var x in Model)
			{
				<tr>
					<td>@x.Name</td>
					<td>@x.Price.ToString("N0")</td>
					<td>@(x.Category != null ? x.Category.Name : "")</td>
					<td>
						@if (x.ImageUrl != null)
						{
							<img src="@x.ImageUrl" style="width:100px" />
						}
					</td>
					<td>
						<button href="/admin/product/update?id=@x.Id" id="btnUpdateProduct" type="button" class="btn btn-primary manageBtn" data-bs-toggle="modal" data-bs-target="#updateProductModal">
							<i class="bi bi-plus-circle-fill"></i> Sửa
						</button>
						<button Id="@x.Id" class="btn btn-danger manageBtn btnDeleteSP">
							<i class="bi bi-trash"></i> Xóa
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<div class="d-flex justify-content-center mt-3">
	<ul class="pagination">
		<li class="page-item @(ViewBag.CurrentPage == 1? "disabled" : "")">
			<a class="page-link" href="/admin/Product?page=1">&laquo;</a>
		</li>
		@for (int i = 1; i <= ViewBag.TotalPages; i++)
		{
			<li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
				<a class="page-link" href="/admin/Product?page=@i">@i</a>
			</li>
		}
		<li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages? "disabled" : "")">
			<a class="page-link" href="/admin/Product?page=@ViewBag.TotalPages">&raquo;</a>
		</li>
	</ul>
</div>

<p id="thongBaoXoaSP" style="font-size: x-large; color:white;"></p>

<div class="modal fade" id="updateProductModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content" id="updateModalBody">
		</div>
	</div>
</div>